.header {
  grid-area: head;
  background-color: #f9f5f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;

  &__logo {
    margin-left: 4rem;
    height: 4.5rem;
    display: block;
  }
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #dad0cc;
    }
  }

  &__icon__wrapper {
    padding: 1.3rem;
    font-size: 1.4rem;
    background-image: linear-gradient(
      to right bottom,
      rgb(199, 161, 161),
      rgb(71, 55, 55)
    );
    padding: 1.3rem;
    font-size: 1.4rem;
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;

    > svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: currentColor;
    }
  }
}
